
@font-face {
    font-family: bobFont;
    src: url(../../Assets/BoB.ttf);
 }
 :root {
    --bg: rgb(231, 76, 60);
    --cookie: #F7D694;
    --code: #f8bb36;
  }
  
 .about-content {
    font-family: bobFont;
    color: #fff;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
 }
  .letter {
    
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;
    padding: 24px;
    position: relative;
    width: 80%;
  }
  .letter:before, .letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }
  .letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }
  .iframe-container {
    display: flex;
  }
  
  .iframe-style {
    max-width: 20%; 
    border-radius: 12px;
    flex: 1; 
    margin-left: 70px;
    margin-top: 70px;
  }
  