.gif-img {
  width: 600px;
  height: 600px;
  margin-left: -40px;
}

.home-section {
  z-index: -1;
  background-color: #000;
  height: 100vh;
}

.home-content {
  font-family: georgia, serif;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 200%;
  padding-top: 11px;
}
